{% extends 'base_goods.html' %}
{% block body1 %}
    <div class="navbar_con">
        <div class="navbar clearfix">
            <div class="subnav_con fl">
                <h1>全部商品分类</h1>
                <span></span>
                <ul class="subnav">
                    {% for item in category_list %}
                        <li><a href="/list{{ item.id }}" class="{{ item.logo }}">{{ item.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <ul class="navlist fl">
                <li><a href="/">首页</a></li>
                <li class="interval">|</li>
                <li><a href="/">手机生鲜</a></li>
                <li class="interval">|</li>
                <li><a href="/">抽奖</a></li>
            </ul>
        </div>
    </div>

    <div class="breadcrumb">
        <a href="#">搜索&nbsp;{{ query }}&nbsp;结果如下：</a>
    </div>

    <div class="main_wrap clearfix">
        <ul class="goods_type_list clearfix">
            {% for item in page_obj %}
                <li>
                    <a href="/{{ item.object.id }}"><img src="{{ item.object.default_image.url }}"></a>
                    <h4><a href="/{{ item.object.id }}">{{ item.object.id }}--{{ item.object.name }}</a></h4>
                    <div class="operate">
                        <span class="prize">￥{{ item.object.price }}</span>
                        <span class="unit">{{ item.object.price }}/{{ item.object.unit }}</span>
                        <a href="#" class="add_goods" title="加入购物车"></a>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <div class="pagenation">
            {% if page_obj.number == 1 %}
                <span>首页</span>
                <span>上一页</span>
            {% else %}
                <a href="?page=1&q={{ query }}">首页</a>
                <a href="?page={{ page_obj.number|add:-1 }}&q={{ query }}">上一页</a>
            {% endif %}

            {% for p in plist %}
                {% if p == page_obj.number %}
                    <span class="active">{{ p }}</span>
                {% else %}
                    <a href="?page={{ p }}&q={{ query }}">{{ p }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.number == paginator.num_pages %}
                <span>下一页</span>
                <span>末页</span>
            {% else %}
                <a href="?page={{ page_obj.number|add:1 }}&q={{ query }}">下一页</a>
                <a href="?page={{ paginator.num_pages }}&q={{ query }}">末页</a>
            {% endif %}
        </div>
    </div>
{% endblock %}